html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.app-default {
  text-align: center;
  background-color: #5eae53;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 16px;
  padding-top: 230px;
  position: relative;
  background-image: url("../public/default.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.app-heart {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding: 16px;
  position: relative;
  background-image: url("../public/heart.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 32px;
  font-size: 36px;
  line-height: normal;
  background-color: #5eae53;
  border-radius: 16px;
  padding: 16px;
}

h2 {
  color: #fff;
  font-weight: 600;
  padding-top: 120px;
  font-size: 32px;
  line-height: normal;
  border-radius: 16px;
  padding: 16px;
}

.no-btn {
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
}

.yes-btn {
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #eb8e78;
}

.yes-btn.big-1 {
  font-size: 24px; /* Font size for the yes button when it gets bigger */
  padding: 14px 20px;
}

.yes-btn.big-2 {
  font-size: 28px; /* Font size for the yes button when it gets bigger */
  padding: 20px 28px;
}

.yes-btn.big-3 {
  font-size: 36px; /* Font size for the yes button when it gets bigger */
  padding: 28px 34px;
}

.yes-btn.big-4 {
  font-size: 42px; /* Font size for the yes button when it gets bigger */
  padding: 32px 42px;
  margin: 16px;
}

.yes-btn.big-5 {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 48px; /* Font size for the yes button when it gets bigger */
  width: 100vw;
  height: 100vh;
  margin: 0px;
  font-weight: 800;
  color: #fff;
}

.h1-show {
  position: absolute;
  top: 15%;
  left: 20%;
  font-size: 20px;
  z-index: 1000;
  text-align: center;
  color: #000;
  transform: translate(-15%);
}
